* {
    margin: 0 auto;
}

body {
    font-family: "Golos Text", sans-serif;
    background-color: rgba(128, 128, 128, 0.101);
    margin-bottom: 5%;
}

header {
    padding: 10px;
    background-color: white;
}

header h1 {
    display: inline-block;
    position: absolute;
    top: 10px;
    font-size: 44px;
    background-color: white;
}

body div nav {
    margin: 3% 10% 0 10%;
    background-color: white;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

div nav {
    background-color: white;
}

.cerblu {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 7px;
}

#butbi {
    background-color: white;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.453);
    color: rgba(128, 128, 128, 0.453);
    border-radius: 5px;
    padding: 4px;
}

#hor {
    border-color: rgba(128, 128, 128, 0);
    text-align: left;
    padding-right: 0;
}

#main {
    padding-top: 30px;
    background-color: white;
    margin: 0 10%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
}

main div {
    font-size: 20px;
    padding-top: 15px;
}

.trid::before {
    content: "\25BE";
}

.check::before {
    content: "\2714";
    color: rgb(2, 226, 25);
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(2, 226, 25);
}

.sfoblu {
    color: white;
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}

.sep {
    padding-top: 30px;

}

.font {
    font-size: 25px;
}

.sfoviola {
    color: white;
    background-color: rgb(144, 0, 122);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}

.sfoverde {
    color: white;
    background-color: rgb(0, 156, 0);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}

.cross::before {
    content: "\2717";
    color: rgb(239, 33, 1);
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(239, 33, 1);
}

.sfoaran {
    color: white;
    background-color: rgb(255, 128, 0);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}
.sfomage {
    color: white;
    background-color: rgb(255, 0, 230);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}

.sfolightgre {
    color: white;
    background-color: rgb(128, 255, 37);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
}
